.book {
  display: inline-block;
  background-color: white;
  margin: 10px;
  padding: 10px;
  border: solid 1px #ccc;
  border-radius: 10px;
  width: 290px;
  font-size: 12px;
  vertical-align: top;
  height: 420px;
  overflow-y: hidden;
}

.bookImage {
  max-height: 200px;
  margin-bottom: 10px;
}